
/* Ingredident Sub List */

.circleImg {
  height: 200px;
  width: 200px;
  border-radius: 28px;
}

.ingSubBox {
  display: flex;
  flex-direction: row;
}

.ingSubFull {
  text-align: center;
}

.ing-sub-results-master-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.ing-sub-text {
  display: block;
  flex-direction: column;
}

.ing-sub-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media screen and (max-width: 530px){
  .header{
    width: 100%;
  }
}