
/* Ingredident Sub List */

.circleImg {
  height: 200px;
  width: 200px;
  border-radius: 28px;
}

.ingSubBox {
  display: flex;
  flex-direction: row wrap;
}

.ingSubFull {
  text-align: center;
}

.ing-sub-results-master-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.ing-sub-text {
  display: flex;
  flex-flow: row;
}

.ing-sub-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}