body {
    background: white;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 14px;
    text-align: left;
    color: black
}

h1,
h2,
h3 {
    color: black;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: bold;
}

a {
    color: #FF8340;
    text-decoration: none;
}

a :hover {
    color: grey
}

.header {
    background: #FF8340;
    height: 99px;
    font-family: 'Red Hat Display', sans-serif;
    color: white;
    font-size: 64px;
    line-height: 85px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .header {
        font-size: 32px;
        line-height: 44px;
        height: 45px;
    }
}

.search {
    height: 24px;
    width: 331px;
    border-radius: 10px;
}

.recipe-button {
    background: #FF8340;
    color: #FDFDFD;
    border-radius: 4px;
    filter: drop-shadow(20px);
    width: 150px;
    height: 25px;
    margin-right: 1ex;
}

.sub-button {
    background: #FF8340;
    color: #FDFDFD;
    border-radius: 4px;
    filter: drop-shadow(20px);
    width: 150px;
    height: 25px;
    margin-left: 1ex;
}

.search-buttons {
    margin-top: 2ex;
}

.carousel-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.carousel-title-container {
    display: flex;
    width: 55%;
    justify-content: center;
    margin-top: 30px;
}

@media screen and (max-width: 768px) {
    .carousel-title-container {
        margin-top: 0px;
    }
}

@media screen and (max-width: 768px) {
    .carousel-title-text {
        font-size: 20px;
    }
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .carousel {
        padding: -50px;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        flex-shrink: 0;
    }
}

.carousel-arrow {
    height: 60px;
    width: auto;
}

@media screen and (max-width: 768px) {
    .carousel-arrow {
        height: 25px;
        width: auto;
    }
}


.carousel-arrow-next {
    height: 60px;
    width: auto;
    margin-left: -30px;
}

@media screen and (max-width: 768px) {
    .carousel-arrow-next {
        height: 25px;
        width: auto;
        margin-left: -10px;
    }
}

.carousel-image {
    width: 236px;
    height: 212px;
    margin-right: 30px;
}

@media screen and (max-width: 768px) {
    .carousel-image {
        width: 65px;
        height: 60px;
        margin-right: 10px
    }
}

.sporkLogo {
    height: 226px;
    width: 432px;
}

@media screen and (max-width: 768px) {
    .sporkLogo {
        height: auto;
        width: 215px;
    }
}

.headerDiv{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}

.headerDiv2 {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 40px;
}

.headerText {
    text-align: center;
    display: block;
    font-weight: bold;
    font-size: 16px;
}

.headerText2 {
    margin: 30px;
    text-align: center;
    display: block;
    font-weight: bold;
    font-size: 16px;
}

.headerText3 {
    text-align: center;
    display: block;
    margin: 0;
    font-weight: bold;
    font-size: 16px;
}




.clock-logo {
    height: 20px;
    width: 20px
}

.main-form {
    text-align: center;
}

.about-info {
    display: flex;
    flex-flow: row;
    margin: 10px;
    justify-content: baseline;
}

.recipe-results-image {
    width: 236px;
    height: 212px;
}

@media screen and (max-width: 768px) {
    .recipe-results-image {
        width: 190px;
        height: 175px;
    }
}

.recipe-results-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 65%;
    justify-content: space-evenly;
}


.footer {
  display: flex;
 align-items: baseline center;
 justify-content: center;
  background: #FF8340;
  height: 80px;
  font-family: 'Red Hat Display', sans-serif;
  color: white;
  font-size: 20px;
  margin: 20px 0px 0px 0px;
}

a .footer {
    color: white;
}

@media screen and (max-width: 768px) {
.footer {
    height: 40px;
    font-size: 12px;
    display: flex;
    align-items: baseline center;
    justify-content: center;
    background: #FF8340;
    font-family: 'Red Hat Display', sans-serif;
    color: white;
    margin: 20px 0px 0px 0px;
    }
}

.filter-detail {
    width: 237px;
    margin: 2%;
}

.recipe-results-master-container{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

