.recipe-detail-image {
    width: 450px;
    height: 450px;
    display: inline-flex;
}

@media screen and (max-width: 768px) {
    .recipe-detail-image {
        width: 225px;
        height: 225px;
        display: block;
    }
}

.ingredients-list {
    margin-top: 1ex;
    margin-bottom: 1ex;
    color: black;
}

.recipe-detail-master-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .recipe-detail-master-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }
}

.recipe-detail-info-container {
    width: 300px;
}

.recipe-detail-information {
    width: 550px;
    padding: 30px;
}

@media screen and (max-width: 768px) {
    .recipe-detail-information {
        width: 330px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}


.recipe-description-text{
    padding-bottom: 10px;
}

.preptime {
    padding-top: 15px;
    padding-bottom: 5px;
}

@media screen and (max-width: 768px) {
    .recipe-details-name-image{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        
    }
}