.recipe-detail-image {
    width: 450px;
    height: 450px;
    display: inline-flex;
}

a:hover {
    color: grey;
}

@media screen and (max-width: 768px) {
    .recipe-detail-image {
        width: 225px;
        height: 225px;
        display: block;
    }
}
.line-break {
    background-color: black;
    width: 100%;
    height: 1px;
    margin-bottom: 15px;
}


.line-break-vertical {
    background-color: black;
    width: 100%;
    height: 1px;
    margin-bottom: 15px;
    transform: rotate(90);
}

.rating-timer-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.ingredients-list-container {
    margin-top: 1ex;
    margin-bottom: 1ex;
    color: black;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 44%
}

@media screen and (max-width: 768px) {
    .ingredients-list-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

.recipe-detail-master-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .recipe-detail-master-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }
}

.recipe-detail-info-container {
    width: 300px;
}

.recipe-detail-information {
    width: 550px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

@media screen and (max-width: 768px) {
    .recipe-detail-information {
        width: 330px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}


.recipe-description-text{
    padding-top: 40px;
    width: 100%
}

.preptime {
    padding-top: 15px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    .recipe-details-name-image{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        
    }
}